<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Telco_Service_WEB</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<welcome-file-list>
		<welcome-file>loginpage.html</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>outputpath</param-name>
		<param-value>D:\Polimi_Magistrale_SideDatas\Progetti_DB2\TelcoService\Images\</param-value>
	</context-param>

	<filter>
		<filter-name>LoginChecker</filter-name>
		<filter-class>filters.LoginChecker</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>LoginChecker</filter-name>
		<url-pattern>/CreateOptionalProduct</url-pattern>
		<url-pattern>/CreateService</url-pattern>
		<url-pattern>/CreateServicePackage</url-pattern>
	</filter-mapping>

</web-app>